# Compiled python files
*.pyc

# Compiled C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE / editor files
.idea/
*.swp
*~

# Virtual environment
venv/
env/

__pycache__/
.vscode/
.DS_Store

cache/

secret_keys_mine.sh
my_secret_keys.sh

data/
