pandas
SPARQLWrapper
matplotlib
python-pptx
bs4
langchain==0.0.147
openai
gradio
py3langid
transformers
torch
sentencepiece
faiss-cpu
psycopg2-binary; platform_python_implementation == "CPython"
psycopg2; platform_python_implementation != "CPython"
pymysql
arxiv
googlemaps
steamship
gradio_tools
IPython
google-search-results