pandas
SPARQLWrapper
matplotlib
python-pptx
bs4
langchain==0.0.147
openai
py3langid
transformers
sentencepiece
faiss-cpu
psycopg2-binary; platform_python_implementation == "CPython"
psycopg2; platform_python_implementation != "CPython"
pymysql
arxiv
googlemaps
steamship
IPython
google-search-results
iso-639
amadeus
gradio
gradio_tools
peft
# torch>=1.10
# bmtrain==0.1.8.post1
# jieba
# tqdm
# tensorboard
# numpy>=1.21.0
# spacy
# opendelta
